<div class="panel panel-default" style=" padding: 45px 216px;">
<div class="jumbotron" >
        <div class="panel-heading">
            <h2 class="panel-title text-center">Book an Appointment</h2>
        </div>
<div class="panel-body content_align" style="max-height: 10;>
<%= render 'form', :appointment => @appointment %>
</div>
</div>
</div>